/* Bodytext font */
/* Font for headings */
/* Text colors */
form.contact {
  width: 65%;
  margin: 0 auto; }
  form.contact input, form.contact textarea {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    -webkit-appearance: none; }
    form.contact input:focus, form.contact textarea:focus {
      border-color: #2077b2;
      background-color: #F8FCFE; }
  form.contact input[type=submit] {
    background-color: #2077b2;
    color: #fff;
    height: 50px; }

::-webkit-input-placeholder {
  color: #AAA; }

::-moz-placeholder {
  color: #777777; }

:-ms-input-placeholder {
  color: #AAA !important; }
