.map_container {
  position: relative;
  padding-bottom: 89%;
  height: 0;
  overflow: hidden; }
  .map_container .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .map_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
