@media (max-width: 720px) {
  body {
    font-size: 16px; }

  h1 {
    font-size: 2em; }

  h2 {
    font-size: 1.4em; }

  article {
    padding-top: 50px; }
    article .container > header, article .container > section, article .container > footer {
      margin-left: 2em;
      margin-right: 2em; }
    article .highlight {
      margin-left: 0em;
      margin-right: 0em; }
      article .highlight pre {
        padding: 1em; }
    article .full {
      margin-left: 0;
      margin-right: 0; }
    article blockquote {
      margin-right: 0; }
      article blockquote p {
        font-size: 1.2em; }
    article hr {
      margin: 1.5em 0; }

  .blog-cover, .article-cover {
    height: 200px; }

  .blog-cover .cover_overlay .content h1 {
    font-size: 25px; }
  .blog-cover .cover_overlay .content h3 {
    font-size: 17px; }
  .blog-cover .cover_overlay .content a {
    margin: 1em .5em 0em 0; }

  .site-header nav {
    padding-left: 15px;
    padding-right: 15px; }
    .site-header nav > a {
      margin-right: 1em; }

  .site-footer {
    padding: 2em 0; }
    .site-footer .container {
      text-align: center; }
      .site-footer .container nav {
        display: block;
        float: none !important;
        margin: 1.2em 0; }

  form.contact {
    width: 100%; }
    form.contact input, form.contact textarea {
      font-size: 16px; } }
@media (max-width: 400px) {
  .blog-cover .cover_overlay .content a {
    display: none; }

  article .container > header, article .container > section, article .container > footer {
    margin-left: 1em;
    margin-right: 1em; }
  article footer address img {
    margin-right: 10px; } }
